on: [push]

name: CI

jobs:
  check:
    name: "Check Codebase"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
      - name: Prettier Check
        run: bunx prettier@latest --check .
      - name: Run Rust Tests
        run: cargo test
  #  check:
  #    name: Rust project
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v2
  #      - name: Install Nix
  #        uses: DeterminateSystems/nix-installer-action@main
  #      - uses: DeterminateSystems/magic-nix-cache-action@main
  #      - name: Run Bun install
  #        run: nix develop --command bun install
  #      - name: Run Release Cargo Build
  #        run: nix develop --command cargo build --release
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v2
      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 1G
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-
          # created more than this number of seconds ago
          purge-created: 0
          # or, last accessed more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-last-accessed: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: never
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: devramsean0
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker image
        run: nix build .#dockerImage
      - name: Load Docker Image
        run: ./result | docker load
      - name: Rename Docker Image
        run: docker image tag sportsday-scoreboard-v2:latest ghcr.io/UTCSheffield/sportsday-scoreboard-v2:latest
      - name: Push Docker image
        run: docker push ghcr.io/UTCSheffield/sportsday-scoreboard-v2:latest
  deploy:
    name: Deploy Update
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale Login
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Update container
        run: tailscale ssh sean@scipio "cd sportsday-scoreboard-v2 && docker compose down && docker compose up -d --pull always --remove-orphans"
